/* brand ethos */
#brand-ethos{
    height:auto;
    padding-bottom: 100px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float:right;
}

#center-about{
    width: 33%;
    margin: 0 auto;
}

hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;

}

.left-about-heading{
    width: 60%;
    float:right;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}

.right-about-heading{
    width: 60%;
    float:left;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}

.right-about-heading h3{
    text-align: right;
}

.right-about-heading p{
    text-align: right;
}

#welcome{
    text-align: center;
    margin: 50px 0;
    font-size: 280%;
}

#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg{
    background: url('./assets/images/winpea-small.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 1200px){
    #brand-ethos{
        width: 65%;
        height:1200px;
        margin: 0 auto;
        margin-bottom: 20%;
    }

    #welcome{
        padding: 30px 0;
        margin: 0;
    }
    #left-about, #right-about{
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
    
    hr{
        display: none;
    }
}