/* brand ethos */
#brand-ethos{
    height:600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float:right;
    background-color: red;
}

#center-about{
    width: 33%;
    margin: 0 auto;
    background-color: black;
}