/* gallery */

#photos{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    margin-top: 10%;
}

#photos > img{
    width: 100%;
}


@media screen and (max-width: 1200px) {
    #photos{
        column-count: 3;
    }
}
