/* gallery */

.gallery{
    display: flex;
    height: 70vh;
    width: 50vw;
}

.item-image{
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}

h2{
    text-align: center;
}

main{
    padding: 100px 8%;
}

.item-image:hover{
    flex: 80%;
}

.item-image1{
    background-image: url(./assets/images/bracelet_double.png) ;
}
.item-image2{
    background-image: url(./assets/images/bracelet-watch.png);
}
.item-image3{
    background-image: url(./assets/images/fuka-meet-team.jpg);
}
.item-image4{
    background-image: url(./assets/images/bracelet-2.jpg);
}
.item-image5{
    background-image: url(./assets/images/lewis-meet-team.jpg);
}

