@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
  --bright-yellow: #FFFF00;
  --dark-orange: #8B4000;
  --jasmine: #F8DE7E;
  --washed-blue: #3792CB;
  --lavender: #FBAED2;
  --washed-white: #FAF9F6;
}

body{
  background-color: var(--lavender);
  font-family: 'Libre-Baskerville', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main{
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Pacifico", sans-serif;
}

/* header (nav bar) */
.my-nav{
  background-color: var(--dark-orange);
}

/* put links to the right */
.my-collapse{
  flex-grow: 0;
}

.navbar .brand-logo{
  font-family: 'Pacifico' , cursive;
  color: var(--jasmine);
  text-shadow:-1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.navbar .nav-icons .my-link{
  color: var(--washed-white);
  text-decoration: none;
}

.navbar .nav-pills .my-link.active{
  background-color: var(--lavender);
  color: var(--washed-white);
}

.navbar .nav-icons .my-link:hover :not(.active){
  color: var(--washed-white);
}

.navbar-inner{
  background-image: url('/assets/images/diamond-effect.jpg');
  background-repeat: repeat-x;
}

.carousel-inner > .carousel-item > img {
  width: auto;
  height: 1200px;
}

/* google maps */
iframe{
  width: 80%;
  height: 500px;
  filter: invert(100%);
}

/* brand ethos */
#brand-ethos{
  height:auto;
}

#left-about{
  padding-top: 30px;
  width: 33%;
  float: left;
}

#right-about{
  padding-top: 30px;
  width: 33%;
  float:right;
}

#center-about{
  width: 33%;
  margin: 0 auto;
}

hr{
  border-top: 5px solid #3a3a3a;
  width: 100%;
  margin: 5px 0;

}

.left-about-heading{
  width: 60%;
  float:right;
  line-height: 20px;
  clear:both;
  margin-bottom: 50px;
}

.right-about-heading{
  width: 60%;
  float:left;
  line-height: 20px;
  clear:both;
  margin-bottom: 50px;
}

.right-about-heading h3{
  text-align: right;
}

.left-about-heading p{
  color: var(--dark-orange);
}

.right-about-heading p{
  text-align: right;
  color: var(--dark-orange);
}


#circle-container{
  width: 280px;
  height: 280px;
  padding: 35px;
  border-style: solid;
  border-color: var(--washed-white);
  border-width: 5px;
  border-radius: 100%;
  margin: 0 auto;
}

#circle-cover-bg{
  background: url('https://lewishaz.github.io/CI_PP1_WINPEA_2/assets/images/winpea-small.jpg') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 1200px){
  #brand-ethos{
      width: 65%;
      height:1200px;
      margin: 0 auto;
      margin-bottom: 25%;
  }
  
  #left-about, #right-about{
      width: 100%;
      float: left;
      padding: 0;
  }

  #center-about{
      clear: both;
      width: 100%;
      float: left;
      padding: 0;
  }
  
  hr{
      display: none;
  }

}

@media screen and (max-width: 1200px){
  #brand-ethos{
      width: 90%;
      height:1200px;
      margin: 0 auto;
      margin-bottom: 20%;
  }

  .left-about-heading, .right-about-heading{
      width: inherit;
  }
  .left-about-heading h3, .right-about-heading h3{
      width: 100%;
      text-align: center;
  }
  .left-about-heading p, .right-about-heading p{
      text-align: center;
      padding: 0 20px;
  }

  #photos{
      column-count: 3;
  }
}

@media screen and (max-width: 800px) {
  #photos{
      column-count: 2;
  }
}

/* meet team section */ 
/* makes a circle container for images */
.circle{
  border: 1px solid var(--dark-orange);
  border-radius: 50%;
  z-index: 2;
  background-color: var(--jasmine);
}

/* layers the image on top of the container */
.circle img{
  width: 100%;
  border-radius: 50%;
  z-index: 3;
}

.meet-profile p{
  background-color: var(--jasmine);
  color: var(--dark-orange);
  padding: 5% 5% 5% 40%;
  margin-left: -35%;
  z-index: -1;
}

.meet-profile2 h4{
  text-align: right;
}

.meet-profile2 p{
  background-color: var(--jasmine);
  color: var(--dark-orange);
  padding: 5% 40% 5% 5%;
  margin-right: -35%;
  z-index: -1;
}

/* footer */

/* gallery */

/*.gallery{
  display: flex;
  height: 70vh;
  width: 50vw;
}

.item-image{
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

h2{
  text-align: center;
}


.item-image:hover{
  flex: 80%;
}

.item-image1{
  background-image: url('https://lewishaz.github.io/CI_PP1_WINPEA_2/assets/images/bracelet_double.png') ;
}
.item-image2{
  background-image: url('https://lewishaz.github.io/CI_PP1_WINPEA_2/assets/images/bracelet-watch.png');
}
.item-image3{
  background-image: url('https://lewishaz.github.io/CI_PP1_WINPEA_2/assets/images/fuka-meet-team.jpg');
}
.item-image4{
  background-image: url('https://lewishaz.github.io/CI_PP1_WINPEA_2/assets/images/bracelet-2.jpg');
}
.item-image5{
  background-image: url('https://lewishaz.github.io/CI_PP1_WINPEA_2/assets/images/lewis-meet-team.jpg');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}


.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  cursor: pointer;
  padding-top: 2rem;
}

.box{
  padding: 0px 20px 10px 20px;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border-radius: 10px;
  position: relative;
  transition: all;
}

.box img{
  width: 100%;
  height: auto;
}

.box h4{
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.box h5{
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.box .cart i{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 35px;
  background: var(--text-color);
  color: var(--bg-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;

}

.box:hover{
  transform: translateY(-5px);
}

.about{
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about{
  text-align: center;
}

.about-content h2{
  font-size: 50px;
  margin-bottom: 30px;
}

.about-content p{
  max-width: 600px;
  font-size: var(--p-font);
  font-weight: 600;
  color: var(--text-color);
  line-height: 30px;
}

.icons{
  display: inline-block;
}

.icons i{
  color: var(--text-color);
  font-size: 34px;
  margin-left: 15px;
  margin-right: 10px;

}

.icons i:hover{
  opacity: 0.7;
}


/* 404 page */
#error-img{
  max-width: 500px;
}

.home-btn{
  background-color: var(--washed-white);
  color: var(--lavender);
  text-decoration: none;
  display: block;
  border-radius: 0.25rem;
}

.home-btn:hover{
  color: var(--washed-blue);
}

